<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go Go Go Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.css" />
    <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app" style="visibility:hidden">
    <div ng-controller="MainCtrl as vm">
      <div id="sidebar">
        <div id="title">Go Go Go Food</div>

        <!-- <div class="option-name">Aggregation</div>
        <div class="float-half-left">
          <div class="radio radio-orange">
            <input type="radio" id="radio11" ng-model="vm.aggregation" value="avg">
            <label for="radio11">Average</label>
          </div>
        </div>
        <div class="float-half-right">
          <div class="radio radio-orange">
            <input type="radio" id="radio12" ng-model="vm.aggregation" value="sum">
            <label for="radio12">Sum</label>
          </div>
        </div>
        <div class="float-clear"></div> -->

        <!-- <div class="option-name">Date Interval</div>
        <div class="float-half-left">
          <span>From</span>
          <p>
            <input type="text" class="form-control" ng-model="vm.date.from" data-provide="datepicker" data-date-format="yyyy-mm-dd">
          </p>
        </div>
        <div class="float-half-right">
          <span>To</span>
          <p>
            <input type="text" class="form-control" ng-model="vm.date.to" data-provide="datepicker" data-date-format="yyyy-mm-dd">
          </p>
        </div>
        <div class="float-clear"></div> -->

        <!-- <div class="option-name">Filter Location</div>
        <div class="float-half-left">
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox11" ng-model="vm.location.all" ng-change="vm.location.onChange()">
            <label for="checkbox11">ALL</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox12" ng-model="vm.location.timur">
            <label for="checkbox12">Jakarta Timur</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox13" ng-model="vm.location.barat">
            <label for="checkbox13">Jakarta Barat</label>
          </div>
        </div>
        <div class="float-half-right">
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox14" ng-model="vm.location.utara">
            <label for="checkbox14">Jakarta Utara</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox15" ng-model="vm.location.pusat">
            <label for="checkbox15">Jakarta Pusat</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox16"  ng-model="vm.location.selatan">
            <label for="checkbox16">Jakarta Selatan</label>
          </div>
        </div>
        <div class="float-clear"></div> -->

        <!-- <div class="option-name">Filter Days</div>
        <div class="float-half-left">
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox21" ng-model="vm.day.all" ng-change="vm.day.onChange()">
            <label for="checkbox21">ALL</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox22" ng-model="vm.day.monday">
            <label for="checkbox22">Monday</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox23" ng-model="vm.day.tuesday">
            <label for="checkbox23">Tuesday</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox24" ng-model="vm.day.wednesday">
            <label for="checkbox24">Wednesday</label>
          </div>
        </div>
        <div class="float-half-right">
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox25" ng-model="vm.day.thursday">
            <label for="checkbox25">Thursday</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox26" ng-model="vm.day.friday">
            <label for="checkbox26">Friday</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox27" ng-model="vm.day.saturday">
            <label for="checkbox27">Saturday</label>
          </div>
          <div class="checkbox checkbox-orange">
            <input type="checkbox" id="checkbox28" ng-model="vm.day.sunday">
            <label for="checkbox28">Sunday</label>
          </div>
        </div>
        <div class="float-clear"></div> -->

        <div class="option-name">Filter Time</div>
        <rzslider rz-slider-model="vm.time.from"
                  rz-slider-high="vm.time.to"
                  rz-slider-options="vm.time.options"></rzslider>

        <div id="submitter">
          <button type="button" class="btn btn-orange" ng-click="vm.refresh()">{{ vm.labelSubmit }}</button>
        </div>
      </div>

      <div id="alerter" class="alerter alert alert-danger alert-dismissible" ng-show="vm.errorMessage != ''">
        <button type="button" class="close" ng-click="vm.errorMessage = ''"><span>&times;</span></button>
        {{ vm.errorMessage }}
      </div>
    </div>

    <div id="map"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.7/rzslider.min.js"></script>

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyADRaHt8UYaaQqTZM4F5GH4HFgCzIXjJVw&libraries=visualization"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src="js/viz.js"></script>
    <script src="js/maps.js"></script>
    <script src="js/controller.js"></script>
</body>
</html>
